body{
    font-size: 16px;
    font: arial;
    
}
body,p,h1,h2,h3,h4,h5,h6{
    margin: 0 auto;
}
.header-section{
    background-color: aliceblue;
    border-bottom: 5px solid #2ecc71;
}
.header_menu ul li a{
    text-decoration: none;
    color: #000;
    padding: 20px 10px;
    text-transform: capitalize;
    font-weight: 600;
}
.header_menu ul li a:hover{
    color:#2ecc71; 
}
.header_logo img{
    padding: 10px 0px;  
}
.banner-section{

    background-image: url(../image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
   
}
.overlay:before{
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;    
    display: block;
    content: " ";   
}
.text *{
    position: relative;
}
.text{
    color:#fff;
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: 100%;
}

.banner{
    position: absolute;
    top: 80px;
    left: 150px;
}
.banner   p{
    color: #fff;
    margin: 2px 5px;
    font-weight: 600;
    font-size: 20px;
}
.banner  a i{
  
    padding-left: 10px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(0,0,0,0.71);
   padding: 10px 11px;
   border: 2px solid(0,0,0,0);
    
}
.banner   a i:hover{
    color: #2ecc71;
}
.theme .box{
    padding-left: 40px;
    padding-top: 50px;
      text-align: center;
  
}   
.theme .box a i{
    color:#fff;
    background-color: #2ecc71;
    border-radius: 50%;
    padding: 10px 10px;
    display: inline-block;
    
}
.theme .box h4{
    padding-top: 10px;
    font-weight: 600;
    text-align: center;
}
.theme .para p{
padding-left: 50px;
padding-bottom: 80px;
}
.section{
    background-color: #e3e3e3;
}    
.video{
    padding: 20px 10px;
}
.left-panel h4{
    font-weight: 600;
   padding-top: 60px;
    padding-left: 10px;
}
.left-panel p{
    padding-top: 5px;
    padding-left: 7px;
}
.left-panel .form{
    padding-top: 20px;
    padding-left: 20px;
   
}
.form .text_notify{
    -webkit-border-radius: 10px 0px 0px 10px;
    padding: 6px 25px;
    box-shadow: 0 2px 3px #797979;
    float: left;
}
.form .btn_notify{
    color: #fff;
    box-shadow: 0 2px 3px #797979;
    cursor: pointer;
    background-color: #2ecc71;
   border: 1px solid #ccc;
    -webkit-border-radius: 0px 10px 10px 0px;
     font-size: 16px;
    
}
.form .btn{
    border: 1px solid #ccc;
    padding: 9px 25px;
     font-size: 16px;
   
}
.social p{
    padding: 100px 150px;
}
.social .twitter_link{
    padding-top: 70px;
    padding-bottom: 50px;
}
.social h3{
    font-weight: 600;
}
.GetInTouch{
  padding-top: 20px;
}
.socially-linked{
    
    padding: 70px 30px;
    
}

.socially-linked a{
    padding-left: 20px;
}
.socially-linked a i{
    color: #fff;
    border-radius: 50%;
    background-color: #e3e3e3;
    padding: 20px 20px;
    
}
.socially-linked a i:hover{
    background-color: #007ab9;
}
/* Responsive */
@media(max-width: 320px){
    .banner-section .banner{
      
        margin-left: -81px;
    }
    .form .text_notify{
       margin: 2px -24px;
        float: left;
    }
    .form .btn{
       padding: 8px 24px;
        float: right;
    }
.socially-linked a i{
    
   margin: 20px 8px;
}
}
@media(max-width: 480px){
    .socially-linked a i{
    
   margin: 4px 17px;
}
       .form .btn{
       padding: 7px 30px;
    }
}
@media(max-width: 767px){
     .form .btn{
       padding: 7px 21px;
    }
    .social .twitter_link{
    padding:27px 141px;
}
}
@media(max-width: 768px){
      .social .twitter_link{
    padding:65px 113px;
}
}
@media(max-width: 991px){
    .social .twitter_link{
    padding:65px 113px;
}
     .form .btn{
       padding: 7px 21px;
    }
}

